.App {
  text-align: center;
}
.maincontainer
{
  display:grid;
  height:100vh;
  grid-template-rows: 1fr 8fr 1fr;
}
.header
{
  grid-row-start: 1;
  grid-row-end:2;
}
.main
{
grid-row-start: 2;
grid-row-end: 3;
}
.footer
{
grid-row-start: 3;
grid-row-end: 4;
display:flex;
flex-direction: column;
justify-content: flex-end;
}